{
    "NODE_ENV": "development",
    "DEBUG": "*,-express:*",
    "CORS": {
        "ENABLED": true,
        "ALLOW_ORIGIN": "*"
    },
    "SERVER": {
        "HOST": "0.0.0.0",
        "PORT": "3000"
    },
    "LOGS": {
        "MAIN_PATH": "/tmp"
    },
    "SOUNDCARD": {
        "MAIN_CONTROLLER": "Headphone"
    }
}
